body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    .esquerdo {
        width: 50%;
        background-color: blueviolet;
        .texto {
            margin-top: 40%;
            text-align: center;
            font-size: 150px;
            color: aquamarine;
        }
    }
    .direito {
        width: 50%;
        background-color: aquamarine;
        .texto {
            margin-top: 40%;
            text-align: center;
            font-size: 150px;
            color: blueviolet;
        }
    }
}